* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    font-family: 'Roboto';
    font-style: normal;
}
.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 367px;
    width: 100%;
    max-height: 413px;
    border: 1px solid #EAEDF0;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 24px rgba(184, 197, 211, 0.47);
   
}
.card_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 179px;
    padding: 15px 15px 0px 15px;
    background: url(../images/imgProduct.png) no-repeat;
    border-radius: 12px 12px 0px 0px;
    filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.25));
}
.img_user {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}
.img_user img {
    width: 100%;
    border-radius: 50%;
}
.card_info span {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.card_main {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 0px 15px;
}
.main_title_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;;
}
.main_title {
    font-weight: 700;
    font-size: 20px;
    color: #212121;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: 26px;
    display: inline;
}
.main_title_section span {
    font-weight: 600;
    font-size: 14px;
    color: #212121;
    cursor: pointer;
    line-height: 20px;
}
.main_progress_section {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.main_progress_section p {
    display: inline;
    font-weight: 600;
    font-size: 14px;
    color: #9C9C9C;
    cursor: pointer;
    margin-bottom: 5px;
    line-height: 20px;
}
.main_progress_section span {
    color: #4CE77B;
    cursor: pointer;
    margin-bottom: 5px;
}
.progress {
    cursor: pointer;
    width: 100%;
    height: 12px;
    margin-top: 4px;
    position: relative;
    background: #F0F0F0;
    border-radius: 100px;
}
.progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 64%;
    height: 12px;
    background: linear-gradient(90deg, #4CE77B 0%, #73F49A 100%);
    border-radius: 100px;
}
.card_footer {
    padding: 0px 15px 15px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_footer i {
    cursor: pointer;
    font-size: 26px;
}
.icons_like_merg { 
    display: flex;
}
.icon_like {
    margin-right: 20px;
}
